// This file contains general rules for Skeleta to work.
// It applies some general styles to the body and all elements to follow a border-box box-sizing.
// It exposes some of the skeleta variables as CSS properties.
// It also generates the base modifiers for padding, and sizing.
:root {
    @include sklNewVar('font-size', $skl-fontSize);
    font-size: sklGetVar('font-size');
    @include sklNewVar('line-length', $skl-lineLength);

    // UNIT SCALE
    @include sklNewVar('unit-ratio', $skl-scaleRatio);


    @for $i from $skl-minUnitScaleValue through $skl-maxUnitScaleValue {
        @if $i < 0 {
            @include sklNewVar("unit#{$i}", calc(sklGetVar(unit#{$i + 1}) / sklGetVar(unit-ratio)));
        }

        @else if $i >0 {
            @include sklNewVar("unit#{$i}", calc(sklGetVar(unit#{$i - 1}) * sklGetVar(unit-ratio)));
        }

        @else {
            @include sklNewVar("unit#{$i}", 1rem);
        }
    }

    // Screen sizes
    @each $breakpoint, $size in $skl-screen-sizes {
        @include sklNewVar(screen-size-#{$breakpoint}, $size);
    }
}

body {
    min-height: 100vh;
}


// Handle max-inline-size
// for all inline elements.
*,
::after,
::before {
    box-sizing: border-box;
    max-inline-size: sklGetVar('line-length');
}

// Remove maximum size from block elements
article,
aside,
body,
div,
header,
html,
main,
nav,
section,
footer {
    max-inline-size: none;
}

// Make images responsive by default.
img, svg {
    max-width: 100%;
}
