/**
 * Center simply centers itself within its parent both vertically and horizontally.
 * Modifier:
 *  - `content-centered`: Centers its nested element within the `center` element.
 * 
 * In CSS to center a div, it must have a width.
 * In the case here, the width is calculated using the --line-length property.
 */
 @include sklComponent('center') {
    display: block;

    box-sizing: content-box;

    /* ↓ Only affect horizontal margins */
    margin-left: auto;
    margin-right: auto;
    
    margin-inline: auto;
    max-inline-size: sklGetVar('line-length');

    // Ensure a minimum size on smaller screens, where the margins do not appear.
    padding-left: sklGetVar('unit-1');
    padding-right: sklGetVar('unit-1');

    max-width: sklGetVar('line-length');
}

@include sklModifier('center', 'content-centered') {
    display: flex;
    flex-direction: column;
    align-items: center;
}