@include sklComponent(grid) {
    display: grid;
    //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    --min-width: 500px;
    align-items: stretch;
    
    @supports (width: min(250px, 100%)) {    
        grid-template-columns: repeat(auto-fit, minmax(min(var(--min-width), 100%), 1fr));
    }
}


@include sklGapModifier(grid);
@include sklPaddingModifier(grid);

@for $i from $skl-minUnitScaleValue through $skl-maxUnitScaleValue {
    @include sklModifier(grid, min-width#{$i}) {
        --min-width: #{sklGetVar(unit#{$i})};
    }
}