/**
 * The stack groups its nested elements vertically.
 * Modifiers:
 *  - `gap`: adds spacing between nested elements.
 *  - `justify`: adds
 */
@include sklComponent(stack) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &:only-child {
        height: 100%;
    }    
}

@include sklGapModifier(stack);
@include sklJustifyModifier(stack);
@include sklPaddingModifier(stack);

/**
 * This component can be nested inside a stack in order to allow 
 * modifying how a stack handles specific elements.
 */
@include sklComponent(stacked) {}

/**
 * This component allows defining a stacked element as being a point at which
 * the following elements should pushed to the end of the available space.
 */
@include sklModifier(stacked, split) {
    margin-top: auto;
}