/**
 * The stack groups its nested elements vertically.
 * Modifiers:
 *  - `gap`: adds spacing between nested elements.
 *  - `justify`: adds
 */
@include sklComponent(stack) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &:only-child {
        height: 100%;
    }    
}

@include sklGapModifier(stack);
@include sklJustifyModifier(stack);
@include sklPaddingModifier(stack);

@include sklComponent(stacked) {}

/**
 * This component allows defining a div as being an empty space 
 * that pushes the rest of the columns to the end of the remaining space.
 */
@include sklModifier(stacked, split) {
    margin-inline-start: auto;
}